
.profile_pic img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#profiles {
    display: flex;
}

#button .signIn .signOut{
    margin-top: 10px;
}

#profile_row.row {
    padding-left: 10vw;
}

input#email {
    margin-top: 10px;
    padding-left: 5vw;
}

input#password {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5vw;
}

#club-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
#event-creation {
    height: 50vh;
    display: flex;
    flex-direction: column;
padding-left: 10vw;
    padding-right: 10vw;

}
#event-creation {
    margin-top: 10px;
height: 85vh;
}

#event-btn{
    width: 10vw;
    margin-top: 10px;
}
#club-create-checks {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

#event-checkin {
    height: 87vh;
    padding-left: 5vw;
    padding-top: 3vh;
    padding-right: 5vw;
}

textarea#Description {
    width: 50vw;
    border-radius: 5px;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 0 0 0;
}

.profile-clublist {
    padding-right: 5vw;
    padding-left: 5vw;
}

.profile-eventlist {
    padding-right: 5vw;
    padding-left: 5vw;
}

.profile-welcome {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-welcome img {
    border-radius: 50%;
}

div.a{
    text-align: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 87vh;
    align-items: center;
    margin: 0 auto;
    padding-top: 2vh;
}

#login-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#choose-profile-pic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#login-buttons button {
    margin: 5px;
}

input[type="checkbox"] {
    margin-right: 0px;
}

#event-creation {
    display: flex;
    flex-direction: column;
    height: 85vh;
    padding-right: 10vw;
    padding-left: 10vw;
}

#event-creation input {
    margin-top: 10px;
}

#event-creation button {
    margin-top: 5px;
    width:10vw;
}